<mat-toolbar color="primary">
    <span>Pets</span>
</mat-toolbar>

<div class="header">
    <h1>Pets</h1>
    <button mat-fab color="primary" aria-label="Adicionar pet" (click)="openDialog(null)">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="table">
    <table mat-table #table [dataSource]="pets" class="mat-elevation-z8">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let pet"> {{pet.nome}} </td>
        </ng-container>
        
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let pet"> {{pet.tipo}} </td>
        </ng-container>
        
        <ng-container matColumnDef="idade">
            <th mat-header-cell *matHeaderCellDef> Idade </th>
            <td mat-cell *matCellDef="let pet"> {{pet.idade}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let pet">
                <button mat-icon-button (click)="updatePet(pet)" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deletePet(pet)" color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>

  