<div class="container">
    <div class="content">
        <h1>Login</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput [(ngModel)]="senha">
        </mat-form-field>
        <span class="message">{{message}}</span>
        <button class="login-button"  mat-raised-button (click)="login(email, senha)" color="primary">Login</button>
    </div>
</div>
